<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | CE</title>
        {% block stylesheets %}{% endblock %}
		{% block scriptshead %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="ng-scope" ng-app="aplicationCE" ng-controller="rutaServidorCtrl">
		{% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
		{% block javascriptslocales %}{% endblock %}
    </body>
</html>
