{% extends 'AppBundle::frontend.html.twig' %}


{% block breadcrumb_ul %}

    <ul class="breadcrumb">
      <li class="active">Inicio</li>
    </ul>

{% endblock %}


{% block section %}

    {#<code>{{ base_dir }}/</code>#}
    <br><br><br><br><br><br><br><br><br><br><br><br>

    
               
{% endblock %}

